* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url('./assets/home__background.png');
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

header {
    width: 1920px;
    height: 60px;
    color: #ffffff;
    background: transparent;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: rgb(0 0 0) 2px 2px 10px 2px;
    text-align: right;
    padding: 20px;
}

.link-header{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    margin-left: 10px;
}

h1 {
    position: absolute;
    width: 520px;
    height: 200px;
    top: 136px;
    left: 65px;

    font-weight: 300;
    font-size: 100px;
    line-height: 150px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

p {
    position: absolute;
    width: 522px;
    height: 0;
    left: 65px;
    top: 465px;

    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

span {
    position: absolute;
    width: 314px;
    height: 24.53px;
    left: 65px;
    top: 565px;
    
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #ffffff;
}

input {
    position: absolute;
    width: 350px;
    height: 55px;
    left: 65px;
    top: 620px;
    background: rgba(89, 2, 9, 0.5);
    border-radius: 16px;
    padding: 15px;
    border: none;
    outline: none;
    color: #ffffff;
}

button {
    position: absolute;
    width: 150px;
    height: 55px;
    left: 430px;
    top: 620px;

    background: linear-gradient(0deg, rgba(4, 8, 13, 0.4), rgba(4, 8, 13, 0.4)), #024959;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}